@* Jeppe *@
@page
@model WebApplication1.Pages.OurPages.AdminSletBookningModel
@{
}
<head>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<h1>Slet en bookning</h1>

@* Select date & school *@
<form method="post">
    <div>
    <label asp-for="Date" class="control-label"></label>
    <input type="date" asp-for="Date" />
    @if (WebApplication1.Services.LoginManager.LoggedInUser.Rolle.RolleNavn == "admin")
    {
        string currentlySelectedSchool = new WebApplication1.Services.SkoleService().Read(Model.SchoolId)?.Location ?? "vælg en skole";
        <label asp-for="SchoolId" class="control-label"></label>
        <select name="SchoolId">
            <option value="@Model.SchoolId">@currentlySelectedSchool</option>
            @foreach (Models.Skole Skole in new WebApplication1.Services.SkoleService().ReadAll())
            {
                // We don't need the same school twice'
                if (Skole.Id == Model.SchoolId)
                {
                    continue;
                }
                <option value="@Skole.Id">@Skole.Location</option>
            }
        </select>
    }
    <input type="submit" value="Filtrer" asp-page-handler="Filter" />
    </div>
@* List all bookings *@

    @if (Model.Date < DateOnly.FromDateTime(DateTime.Now).AddDays(WebApplication1.Services.LoginManager.LoggedInUser.Rolle.DagesVarselIndenOverskrivelse.Value))
    {
        <p>Du kan desværre ikke slette andres bookinger, på denne dag (brugerne skal have længere varsel)</p>
    }
    else
    {
        <table>
            <tr>
                <td>Alle bookinger</td>
            </tr>
            <tr>
                <td>Lokale id</td>
                <td>Tid fra</td>
                <td>Tid til</td>
                <td>Personens email</td>
            </tr>
            @foreach (var booking in Model.GetAllBookings())
            {
                string gruppeMedlemRolle = new WebApplication1.Services.BrugerService().Read(booking.Gruppemedlem).Rolle.RolleNavn;
                <tr>
                    <td>@booking.LokaleId</td>
                    <td>@(booking.TidFra / 60):@(@booking.TidFra % 60)</td>
                    <td>@(booking.TidTil / 60):@(@booking.TidTil % 60)</td>
                    <td>@booking.Gruppemedlem (@gruppeMedlemRolle)</td>
                    <td>
                        <input asp-page-handler="DeleteBooking" asp-route-bookingId="@booking.Id" type="submit" value="Slet">
                    </td>
                </tr>
            }
        </table>
    }

</form> 