@page
@model WebApplication1.Pages.OurPages.BrugerSideModel
@{
}
@* @WebApplication1.Services.LoginManager.LoggedInUser.Email *@


<head>
<style>
h2 {
  text-align: center;
}
</style>
</head>
<body>

    <h2> Velkommen @WebApplication1.Services.LoginManager.LoggedInUser.Navn!</h2>

</body>

<br/>
<head>
    <style>
        table, th, td {
            border: 1px solid;
            align-content:center;
            padding: 5px;
/*             margin-left: auto;
            margin-right: auto; */
        }

        .TableContainer div{
            width: 35% ;
            align-items: center;
            float: inline-start;
        }

        .ButtonContainer div{

            position: fixed;
            bottom: 20%
        }

        .Adgangskode p{
        }

        .Button1{

            background-color: lightyellow;
            color: black;
            border: 2px solid #fff387;
        }

    </style>
</head>

<body>
  <div class="TableContainer">
     <div>
         <table>
            <tr>
              <th>E-mail</th>
                   <td>@WebApplication1.Services.LoginManager.LoggedInUser.Email</td>
            </tr>
              <tr>
              <th>Rolle</th>
                   <td>@WebApplication1.Services.LoginManager.LoggedInUser.Rolle.RolleNavn</td>
            </tr>
             <tr>
               <th>Skole</th> 
                    @{string skole = new WebApplication1.Services.SkoleService().Read(WebApplication1.Services.LoginManager.LoggedInUser.SkoleId).Location;
                        <td>@skole</td>
                    }

                </tr>
            </table>
            <br />
            @if (LogInModel.LoggedInBruger.Rolle.RolleNavn == "student")
            {
                <p><a class="btn btn-warning" href="RedigerBruger" role="button">Ændre Adgangskode</a></p>
            }
     </div>
        <div>
    <table style="position:center; min-width:50%;">
        @{
            var myBookings = new WebApplication1.Services.BookingService().ReadAll($"BrugerEmail='{WebApplication1.Services.LoginManager.LoggedInUser.Email}'");
        
        <tr>
                    <th>Mine Bookinger</th>
                        @if (myBookings.Count() != 0)
                        {
                            <th></th>
                            <th></th>
                            
                        }
                    <th>
                        <form action="Booking">
                            <input class="btn btn-warning" type="submit" role="button" value="Book et lokale" />
                        </form>
                    </th>
        </tr>
                    @foreach (var booking in myBookings)
        {
            <tr>
                <td>@booking.LokaleId</td>
                <td>@booking.Dato</td>
                <td>@booking.BookingType.Type</td>
                <th>
                    <form method="post" asp-page-handler="DeleteBooking" asp-route-bookingId="@booking.Id">
                        <button class="Button1" type="submit">Delete</button>
                    </form>
                </th>
            </tr>
        }
        }
    </table>
       </div>
    </div>
</body>
<br />
@* <div class="ButtonContainer">

    <div>
               @if (LogInModel.LoggedInBruger.Rolle.RolleNavn == "studerende")
               {

}
    </div> *@
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />

@if(LogInModel.LoggedInBruger.Rolle.RolleNavn == "admin")
{
    <p><a class="btn btn-warning" href="OpretBrugerKonto" role="button">Opret Bruger</a></p>

    <p><a class="btn btn-warning" href="OpretLokaler" role="button">Opret Lokaler</a></p>

    <p><a class="btn btn-warning" href="RedigerBruger" role="button">Ændre Adgangskode</a></p>

    <p><a class="btn btn-warning" href="RedigerLokale" role="button">Rediger Lokale</a></p>
    <p><a class="btn btn-warning" href="AdminRedigeringAfBruger" role="button">Rediger anden Konto</a></p>
                
        }
@if (LogInModel.LoggedInBruger.Rolle.DagesVarselIndenOverskrivelse != null)
{
    <p><a class="btn btn-warning" href="AdminSletBookning" role="button">Slet en anden bruger booking</a></p>
}

